@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik+Puddles&display=swap');

.hello{
    font-family: 'DM Serif Display', serif;
}

.hello123
{
    table-layout: fixed;
    text-align: center;

}