.funny{
  font-size:bold
}
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik+Puddles&display=swap');

.fun1{
    font-family: 'DM Serif Display', serif;
}


/* .test1
{
  float: left;
} */
/* .test3
{
  padding-left: 20px;
} */